$black: #000000;
$off-black: #252525;
$grey: #D8D8D8;
$dark-grey: #6E6E6E;
$white: #FFFFFF;

@mixin roboto($fontSize, $fontWeight, $color, $text-transform: none) {
	font-family: 'Roboto', sans-serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $color;
	text-transform: $text-transform;
}
@mixin robotoSlab($fontSize, $fontWeight, $color, $text-transform: none) {
	font-family: 'Roboto Slab', serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $color;
	text-transform: $text-transform;
}
@mixin playfair($fontSize, $fontWeight, $color, $text-transform: none) {
	font-family: 'Playfair Display', serif;
	font-size: $fontSize;
	font-weight: $fontWeight;
	color: $color;
	text-transform: $text-transform;
}


