/**
* Sidebar Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.3
*/
//* Define the variables to be used in this stylesheet
@import "_settings";
@import "_mixins";

/**
***************** A. Widgets ************************ 
*/
.sidebar {
  padding-right: 0;
  .widget {
    background-color: rgba($grey, .30);
    padding: 10px 5px;
    margin-bottom: 15px;
    .widgettitle {
      @include roboto(26px, 300, $white, uppercase);
      text-align: center;
      border-bottom: 1px solid $white;
    }
    a {
      color: $grey;
    }
  }
  /**
  ***************** B. Tags ************************
  */
  .tagcloud {
    a {
      @include roboto(16px !important, 300, $white, uppercase);
      margin: 1px;
      padding: 5px;
      display: inline-block;
      border: 1px solid $white;
      border-radius: 2px;
      &:hover {
        background-color: $white;
        color: $black;
        display: inline-block;
      }
    }
  }
  /**
  ***************** C. Calendar ************************
  */
  #wp-calendar {
    width: 100%;
    background-color: transparent;
    margin-bottom: 0px;
    border: 0;
    caption {
      text-align: center;
      margin-top: 0px;
      margin-bottom: 3px;
      @include robotoSlab(26px, 400, $white, uppercase);
    }
    thead {
      @include robotoSlab(20px, 300, $white, uppercase);
      background: transparent;
      border: 0px;
      tr {
        background-color:transparent !important;
        color: $white;
        border: 0px;
      }
      th {
        @include robotoSlab(20px, 300, $white, uppercase);
        padding-bottom: 5px;
        text-align: center;
        background-color:transparent !important;
        color: $white;
        border-right: 0px;
      }
    }
    tbody {
      @include roboto(20px, 300, $white, uppercase);
      background-color: transparent;
      border: 0px;
      tr {
        @include roboto(20px, 300, $white, uppercase);
        background-color: transparent !important;
        border:0px;
        a {
          color: $white !important;
          cursor: pointer;
        }
      }
      td {
        text-align: center;
        padding:8px;
        border: 0px;
        border-radius: 2px;
        background-color:transparent;
        color:$white;
        cursor: pointer;
        &:hover, &:hover, &:hover > a{
          color: #AAAAAA;
        }
      }
      #today {
        background-color: $white !important;
        color: $off-black;
        a {
          color: $off-black !important;
          cursor: pointer;
          &:hover {
            color: $white !important;
          }
        }
        &:hover {
          background-color: transparent !important;
          color: $white;
        }
        &:hover > a {
          color: $white !important;
        }
      }
      .pad {
        background: none;
      }
    }
    tfoot {
      background-color: transparent;
      color: $white;
      border: 0;
      td {
        border: 0px;
        &:hover, a:hover, &:hover > a {background-color: transparent ;color: #AAAAAA;}
      }
      tr {
        background-color:transparent !important;
        color: $white;
        border-top: 0;
      }
      a {
        color: $white;
        cursor: pointer;
      }
      #next, #prev {
        @include robotoSlab(20px, 300, $white, uppercase);
        text-align: center;
      }
    }
  }
}

@media #{$small-up} { }
@media #{$small-only} {
  .sidebar {
    padding-right: 0.625rem;
  }
}

@media #{$medium-up} { }
@media #{$medium-only} {
  .sidebar {
    padding-right: 0.9375rem;
  }
}

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }