/**
* Comments Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.0
*/
.comments-area {
  background-color: rgba(110, 110, 110, 0.3);
  padding: 10px 15px;
  margin-bottom: 15px;
}
.comments-area .comments-title {
  border-bottom: 1px solid #FFFFFF;
}
.comments-area .comment {
  border-bottom: 1px solid #FFFFFF;
}
.comments-area .comment img {
  border-radius: 75px;
}
.comments-area .comment h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;
}
.comments-area .comment h3 a {
  color: #FFFFFF;
}
.comments-area .comment h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
}
.comments-area .comment h5 a {
  color: #FFFFFF;
}
.comments-area .comment .comment-reply-link {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  color: #FFFFFF;
  padding: 3px 8px;
}
.comments-area .comment .comment-reply-link a {
  color: #FFFFFF;
}
.comments-area .comment .comment-reply-link:hover {
  background-color: #FFFFFF;
  color: #000000;
}
.comments-area .comment label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
}
.comments-area label {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
}
