/**
* Footer Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.0
*/
.footer {
  background-color: #000000;
  padding: 20px 0;
}
.footer .footer-info {
  text-align: center;
}
.footer .footer-info img {
  width: 40%;
  height: auto;
  margin-bottom: 10px;
}
.footer .footer-info h3 {
  font-size: 20px;
}
.footer .footer-info h3 a {
  color: #FFFFFF;
}
.footer .footer-info h3 a:hover {
  color: #6E6E6E;
}
.footer .footer-column {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer .footer-column .widgettitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.footer .footer-column label {
  color: #FFFFFF;
}
.footer .footer-column ul li {
  display: block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}
.footer .footer-column ul li a {
  color: #FFFFFF;
}
.footer .footer-column ul li ul {
  margin-left: 10px;
}
.footer .footer-column ul li ul li {
  display: block;
  padding: 0.7rem 1rem;
  line-height: 1;
}
.footer .footer-column:nth-child(2) {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .footer .footer-column {
    border-bottom: 1px solid #FFFFFF;
  }
  .footer .footer-column:nth-child(2) {
    border-left: 0;
    border-right: 0;
  }
  .footer .footer-column:last-child {
    border-bottom: 0;
  }
}
