/**
* Header Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.0
*/
/**
***************** B. Header ************************ 
*/
.masthead {
  text-align: center;
  padding: 20px 0;
}
.masthead .site-title a:link, .masthead .site-title a:visited {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}
.masthead .site-description a:link, .masthead .site-description a:visited {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
}

/**
***************** C. Main Menu ************************ 
*/
.header .top-bar {
  background-color: #000000;
  padding: 0;
}
.header .top-bar ul {
  background-color: transparent;
}
.header .top-bar ul .menu-item {
  background-color: transparent;
  border-bottom: 3px solid #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}
.header .top-bar ul .menu-item a {
  background-color: transparent;
  color: #FFFFFF;
  padding: 1rem 1rem;
}
.header .top-bar ul .menu-item:hover {
  border-bottom: 3px solid #6E6E6E;
}
.header .top-bar ul .menu-item:hover > a {
  color: #6E6E6E;
}
.header .top-bar ul .menu-item.current-menu-item {
  border-bottom: 3px solid #6E6E6E;
}
.header .top-bar ul .menu-item.current-menu-item a {
  color: #6E6E6E;
}
.header .top-bar ul .menu-item ul {
  top: 108% !important;
  background-color: #000000;
  border: 0 !important;
}
.header .top-bar ul .menu-item ul li {
  border-bottom: 0;
  background-color: #000000;
  color: #FFFFFF;
}
.header .top-bar ul .menu-item ul li:hover {
  border-bottom: 0;
  color: #FFFFFF;
}
.header .top-bar ul .menu-item ul li a {
  color: #FFFFFF;
}
.header .top-bar ul .menu-item ul li a:hover {
  color: #6E6E6E;
}
.header .top-bar ul .menu-item ul li a:after {
  content: '';
  display: none !important;
  border-color: #6E6E6E transparent transparent !important;
}
.header .top-bar ul .menu-item ul li ul {
  top: 1px !important;
}
.header .top-bar ul .menu-icon {
  border: 0px;
  background-color: transparent;
}
.header .top-bar ul .menu-icon:hover {
  background-color: transparent;
}
.header .top-bar .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a {
  padding-right: 1rem;
}
.header .top-bar .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a:after {
  content: '';
  display: none !important;
  border-color: #6E6E6E transparent transparent !important;
  top: 22px !important;
}

/**
***************** D. Social Media Links ************************
*/
.header .top-bar .dashicons-plus {
  width: 45px;
  height: 36px;
  font-size: 40px;
  margin-top: 5px;
}
.header .top-bar .social-link {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
  display: inline-block;
}
.header .top-bar .social-link img {
  width: 40px;
  height: 40px;
  position: relative;
}
.header .top-bar .social-link:hover {
  opacity: .65;
}
.header .top-bar .social-link:nth-child(1) {
  margin-top: 0;
}
.header .top-bar .social-link:nth-child(2) {
  margin-top: 0;
}
.header .top-bar .social-link:nth-child(3) {
  margin-top: 0;
}
.header .top-bar .social-link:nth-child(3n) {
  margin-right: 0;
}
.header .top-bar .social-link:last-child:nth-child(1) {
  margin: 0;
}
.header .top-bar .social-link:last-child:nth-child(2) {
  margin: 0;
}
.header .top-bar .social-link:last-child:nth-child(3) {
  margin: 0;
}
.header .top-bar .dropdown-pane {
  width: auto;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .top-bar {
    padding: 0.5rem !important;
  }
  .top-bar button {
    margin-top: 0 !important;
  }
  .top-bar button:hover {
    background-color: transparent;
  }

  .off-canvas {
    background-color: #000000;
    padding: 0;
  }
  .off-canvas ul {
    background-color: transparent;
  }
  .off-canvas ul .menu-item {
    background-color: transparent;
    border-bottom: 3px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .off-canvas ul .menu-item a {
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 1rem;
  }
  .off-canvas ul .menu-item:hover {
    border-bottom: 3px solid #6E6E6E;
  }
  .off-canvas ul .menu-item:hover a {
    color: #6E6E6E;
  }
  .off-canvas ul .menu-item.current-menu-item {
    border-bottom: 3px solid #6E6E6E;
  }
  .off-canvas ul .menu-item.current-menu-item a {
    color: #6E6E6E;
  }
  .off-canvas ul .menu-item ul {
    top: 108% !important;
    background-color: #000000;
    border: 0 !important;
  }
  .off-canvas ul .menu-item ul li {
    border-bottom: 0;
    background-color: #000000;
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li:hover {
    border-bottom: 0;
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a {
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a:hover {
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a:after {
    content: '';
    display: none !important;
    border-color: #6E6E6E transparent transparent !important;
  }
  .off-canvas ul .menu-item ul li ul {
    top: 1px !important;
  }
  .off-canvas ul .menu-icon {
    border: 0px;
    background-color: transparent;
  }
  .off-canvas ul .menu-icon:hover {
    background-color: transparent;
  }
  .off-canvas .is-accordion-submenu-parent > a::after {
    border-color: #6E6E6E transparent transparent !important;
    top: 22px !important;
  }

  .social-links {
    width: 200px;
    position: relative;
    margin-right: 20px;
    margin-top: 8px;
  }

  .social-link {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
  }
  .social-link img {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
  }
  .social-link:hover {
    opacity: .65;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .top-bar {
    padding: 0.5rem !important;
  }
  .top-bar button {
    margin-top: 0 !important;
  }
  .top-bar button:hover {
    background-color: transparent;
  }

  .off-canvas {
    background-color: #000000;
    padding: 0;
  }
  .off-canvas ul {
    background-color: transparent;
  }
  .off-canvas ul .menu-item {
    background-color: transparent;
    border-bottom: 3px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #FFFFFF;
    text-transform: uppercase;
  }
  .off-canvas ul .menu-item a {
    background-color: transparent;
    color: #FFFFFF;
    padding: 1rem 1rem;
  }
  .off-canvas ul .menu-item:hover {
    border-bottom: 3px solid #6E6E6E;
  }
  .off-canvas ul .menu-item:hover a {
    color: #6E6E6E;
  }
  .off-canvas ul .menu-item.current-menu-item {
    border-bottom: 3px solid #6E6E6E;
  }
  .off-canvas ul .menu-item.current-menu-item a {
    color: #6E6E6E;
  }
  .off-canvas ul .menu-item ul {
    top: 108% !important;
    background-color: #000000;
    border: 0 !important;
  }
  .off-canvas ul .menu-item ul li {
    border-bottom: 0;
    background-color: #000000;
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li:hover {
    border-bottom: 0;
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a {
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a:hover {
    color: #FFFFFF;
  }
  .off-canvas ul .menu-item ul li a:after {
    content: '';
    display: none !important;
    border-color: #6E6E6E transparent transparent !important;
  }
  .off-canvas ul .menu-item ul li ul {
    top: 1px !important;
  }
  .off-canvas ul .menu-icon {
    border: 0px;
    background-color: transparent;
  }
  .off-canvas ul .menu-icon:hover {
    background-color: transparent;
  }
  .off-canvas .is-accordion-submenu-parent > a::after {
    border-color: #6E6E6E transparent transparent !important;
    top: 22px !important;
  }

  .social-link {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
  }
  .social-link img {
    width: 40px;
    height: 40px;
    float: left;
    position: relative;
  }
  .social-link:hover {
    opacity: .65;
  }
}
