/**
* Light Theme Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.3
*/
body {
  background-color: #DDDDDD;
  color: #252525; }

p, h1, h2, h3, h4, h5, h6 {
  color: #252525; }

a, a:link, a:visited {
  color: #8a8a8a; }

a:hover {
  color: #252525; }

label {
  color: #252525; }

.header .masthead .site-title {
  color: #252525; }
.header .masthead .site-description {
  color: #252525; }
.header .top-bar {
  background-color: #e6e6e6; }
  .header .top-bar ul {
    background-color: transparent; }
    .header .top-bar ul .menu-item {
      background-color: transparent;
      border-bottom: 3px solid #e6e6e6;
      color: #252525; }
      .header .top-bar ul .menu-item a {
        color: #252525; }
      .header .top-bar ul .menu-item:hover {
        border-bottom: 3px solid #252525; }
        .header .top-bar ul .menu-item:hover > a {
          color: #252525; }
      .header .top-bar ul .menu-item.current-menu-item {
        border-bottom: 3px solid #6E6E6E; }
        .header .top-bar ul .menu-item.current-menu-item a {
          color: #6E6E6E; }
      .header .top-bar ul .menu-item ul {
        background-color: #e6e6e6; }
        .header .top-bar ul .menu-item ul li {
          background-color: #e6e6e6;
          color: #252525; }
          .header .top-bar ul .menu-item ul li:hover {
            border-bottom: 0;
            color: #8a8a8a; }
          .header .top-bar ul .menu-item ul li a {
            color: #252525; }
            .header .top-bar ul .menu-item ul li a:hover {
              color: #8a8a8a; }
            .header .top-bar ul .menu-item ul li a:after {
              border-color: #e6e6e6 transparent transparent !important; }
  .header .top-bar .dropdown.menu .is-dropdown-submenu-parent.is-down-arrow > a:after {
    content: '';
    display: none !important;
    border-color: #252525 transparent transparent !important;
    top: 22px !important; }
  .header .top-bar .social-dropdown {
    background-color: #e6e6e6;
    color: #252525; }
    .header .top-bar .social-dropdown:hover {
      background-color: #e6e6e6;
      color: #8a8a8a; }

#top-post {
  background-color: rgba(255, 255, 255, 0.5); }
  #top-post .columns.details .title a {
    color: #252525; }
  #top-post .columns.details .post-details {
    border-color: #252525; }
    #top-post .columns.details .post-details .post-detail {
      color: #252525; }
      #top-post .columns.details .post-details .post-detail a {
        color: #252525; }
  #top-post .columns.details p {
    color: #252525; }
  #top-post .columns.details a.button.white {
    color: #252525;
    border-color: #252525; }
    #top-post .columns.details a.button.white:hover {
      background-color: #252525;
      color: #FFFFFF; }

.home-posts-section {
  border-color: #252525; }
  .home-posts-section .home-posts .video-post {
    background-color: rgba(255, 255, 255, 0.8); }
    .home-posts-section .home-posts .video-post .post-category {
      color: #252525; }
    .home-posts-section .home-posts .video-post .title a {
      color: #252525; }
    .home-posts-section .home-posts .video-post .post-details {
      border-color: #252525; }
      .home-posts-section .home-posts .video-post .post-details .post-detail {
        color: #252525; }
        .home-posts-section .home-posts .video-post .post-details .post-detail a {
          color: #252525; }
    .home-posts-section .home-posts .video-post a.button.white {
      color: #252525;
      border-color: #252525; }
      .home-posts-section .home-posts .video-post a.button.white:hover {
        background-color: #252525;
        color: #FFFFFF; }
  .home-posts-section .home-posts .page-navigation li {
    border-color: #252525;
    color: #252525; }
    .home-posts-section .home-posts .page-navigation li a {
      color: #252525; }
    .home-posts-section .home-posts .page-navigation li:hover {
      background-color: #252525 !important;
      color: #FFFFFF; }
      .home-posts-section .home-posts .page-navigation li:hover a {
        background-color: #252525;
        color: #FFFFFF; }
    .home-posts-section .home-posts .page-navigation li.current {
      background-color: #252525;
      color: #FFFFFF; }
      .home-posts-section .home-posts .page-navigation li.current a {
        color: #FFFFFF; }

.single .video-top {
  border-color: #252525; }
  .single .video-top .article-details .article-header {
    background-color: rgba(255, 255, 255, 0.5); }
    .single .video-top .article-details .article-header .entry-title {
      color: #252525; }
    .single .video-top .article-details .article-header .post-details {
      border-color: #252525; }
      .single .video-top .article-details .article-header .post-details .post-detail {
        color: #252525; }
        .single .video-top .article-details .article-header .post-details .post-detail a {
          color: #252525; }
    .single .video-top .article-details .article-header p {
      color: #252525; }
    .single .video-top .article-details .article-header a.button.white {
      color: #252525;
      border-color: #252525; }
      .single .video-top .article-details .article-header a.button.white:hover {
        background-color: #252525;
        color: #FFFFFF; }
    .single .video-top .article-details .article-header .the-tag {
      border-color: #252525;
      color: #252525; }
      .single .video-top .article-details .article-header .the-tag a {
        color: #252525; }
      .single .video-top .article-details .article-header .the-tag:hover {
        background-color: #252525; }
        .single .video-top .article-details .article-header .the-tag:hover a {
          color: #FFFFFF; }
.single .post-more .entry-content {
  background-color: rgba(255, 255, 255, 0.7); }
  .single .post-more .entry-content blockquote {
    border-left: 2px solid #252525; }
    .single .post-more .entry-content blockquote p {
      color: #8a8a8a; }
  .single .post-more .entry-content cite {
    color: #8a8a8a; }
  .single .post-more .entry-content pre {
    color: #252525; }
  .single .post-more .entry-content p {
    color: #252525; }
.single .comments-area {
  background-color: rgba(255, 255, 255, 0.8); }
  .single .comments-area .comments-title {
    border-color: #252525; }
  .single .comments-area .comment {
    border-color: #252525; }
    .single .comments-area .comment img {
      border-radius: 75px; }
    .single .comments-area .comment h3 {
      color: #252525; }
      .single .comments-area .comment h3 a {
        color: #252525; }
    .single .comments-area .comment h5 {
      color: #252525; }
      .single .comments-area .comment h5 a {
        color: #252525; }
    .single .comments-area .comment .comment-reply-link {
      color: #252525;
      border-color: #252525; }
      .single .comments-area .comment .comment-reply-link a {
        color: #252525; }
      .single .comments-area .comment .comment-reply-link:hover {
        background-color: #252525;
        color: #FFFFFF; }
    .single .comments-area .comment label {
      color: #252525; }
    .single .comments-area .comment.odd {
      background-color: rgba(225, 225, 225, 0.8); }
  .single .comments-area label {
    color: #252525; }
.single .related-posts {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 10px;
  margin-bottom: 15px; }
  .single .related-posts h4 {
    color: #252525;
    border-color: #252525; }
  .single .related-posts .video-post .post-category {
    color: #252525; }
  .single .related-posts .video-post .title a {
    color: #252525; }
  .single .related-posts .video-post .post-details {
    border-color: #252525; }
    .single .related-posts .video-post .post-details .post-detail {
      color: #252525; }
      .single .related-posts .video-post .post-details .post-detail a {
        color: #252525; }
  .single .related-posts .video-post a.button.white {
    color: #252525;
    border-color: #252525; }
    .single .related-posts .video-post a.button.white:hover {
      background-color: #252525;
      color: #FFFFFF; }

.archive-title {
  color: #252525;
  border-color: #252525; }

.archive-video-post {
  background-color: rgba(255, 255, 255, 0.6); }
  .archive-video-post .post-category {
    color: #252525; }
  .archive-video-post .title {
    color: #252525; }
    .archive-video-post .title a {
      color: #252525; }
  .archive-video-post .post-details .post-detail {
    color: #252525; }
    .archive-video-post .post-details .post-detail a {
      color: #252525; }
  .archive-video-post .button.white {
    font-size: 22px;
    width: 100%;
    color: #252525;
    border-color: #252525; }
    .archive-video-post .button.white:hover {
      color: #FFFFFF;
      background-color: #252525; }

.page-post .article-header {
  border-color: #252525; }
.page-post .entry-content {
  background-color: rgba(255, 255, 255, 0.7); }
  .page-post .entry-content .page-title {
    color: #252525; }
.page-post blockquote {
  border-color: #252525; }
  .page-post blockquote p {
    color: #8a8a8a; }
.page-post cite {
  color: #8a8a8a; }
.page-post pre {
  color: #8a8a8a; }
.page-post .comments-area {
  background-color: rgba(255, 255, 255, 0.8); }
  .page-post .comments-area .comments-title {
    border-color: #252525; }
  .page-post .comments-area .comment {
    border-color: #252525; }
    .page-post .comments-area .comment img {
      border-radius: 75px; }
    .page-post .comments-area .comment h3 {
      color: #252525; }
      .page-post .comments-area .comment h3 a {
        color: #252525; }
    .page-post .comments-area .comment h5 {
      color: #252525; }
      .page-post .comments-area .comment h5 a {
        color: #252525; }
    .page-post .comments-area .comment .comment-reply-link {
      color: #252525;
      border-color: #252525; }
      .page-post .comments-area .comment .comment-reply-link a {
        color: #252525; }
      .page-post .comments-area .comment .comment-reply-link:hover {
        background-color: #252525;
        color: #FFFFFF; }
    .page-post .comments-area .comment label {
      color: #252525; }
    .page-post .comments-area .comment.odd {
      background-color: rgba(225, 225, 225, 0.8); }
  .page-post .comments-area label {
    color: #252525; }

.content-not-found {
  background-color: rgba(255, 255, 255, 0.7); }
  .content-not-found h1 {
    color: #252525; }
  .content-not-found h3 {
    color: #252525; }
  .content-not-found p {
    color: #252525; }

.sidebar .widget {
  color: #252525;
  background-color: rgba(255, 255, 255, 0.5); }
  .sidebar .widget a {
    color: #8a8a8a; }
  .sidebar .widget label {
    color: #252525; }
  .sidebar .widget .widgettitle {
    color: #252525;
    border-color: #252525; }
  .sidebar .widget .tagcloud a {
    color: #252525;
    border-color: #252525; }
    .sidebar .widget .tagcloud a:hover {
      background-color: #252525;
      color: #FFFFFF; }
  .sidebar .widget #wp-calendar caption {
    color: #252525; }
  .sidebar .widget #wp-calendar thead {
    color: #252525; }
    .sidebar .widget #wp-calendar thead tr {
      color: #252525; }
    .sidebar .widget #wp-calendar thead th {
      color: #252525; }
  .sidebar .widget #wp-calendar tbody {
    color: #252525; }
    .sidebar .widget #wp-calendar tbody tr {
      color: #252525; }
      .sidebar .widget #wp-calendar tbody tr a {
        color: #252525 !important; }
    .sidebar .widget #wp-calendar tbody td {
      color: #252525; }
      .sidebar .widget #wp-calendar tbody td:hover, .sidebar .widget #wp-calendar tbody td:hover, .sidebar .widget #wp-calendar tbody td:hover > a {
        color: #252525; }
    .sidebar .widget #wp-calendar tbody #today {
      background-color: #252525 !important;
      color: #FFFFFF; }
      .sidebar .widget #wp-calendar tbody #today a {
        color: #FFFFFF !important; }
        .sidebar .widget #wp-calendar tbody #today a:hover {
          color: #FFFFFF !important; }
      .sidebar .widget #wp-calendar tbody #today:hover {
        background-color: transparent !important;
        color: #8a8a8a; }
      .sidebar .widget #wp-calendar tbody #today:hover > a {
        color: #8a8a8a !important; }
  .sidebar .widget #wp-calendar tfoot {
    color: #252525; }
    .sidebar .widget #wp-calendar tfoot td:hover, .sidebar .widget #wp-calendar tfoot td a:hover, .sidebar .widget #wp-calendar tfoot td:hover > a {
      color: #AAAAAA; }
    .sidebar .widget #wp-calendar tfoot tr {
      color: #252525; }
    .sidebar .widget #wp-calendar tfoot a {
      color: #252525; }
    .sidebar .widget #wp-calendar tfoot #next, .sidebar .widget #wp-calendar tfoot #prev {
      color: #252525; }
