/**
* Sidebar Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.0
*/
/**
***************** A. Widgets ************************ 
*/
.sidebar {
  padding-right: 0;
  /**
  ***************** B. Tags ************************
  */
  /**
  ***************** C. Calendar ************************
  */
}
.sidebar .widget {
  background-color: rgba(216, 216, 216, 0.3);
  padding: 10px 5px;
  margin-bottom: 15px;
}
.sidebar .widget .widgettitle {
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}
.sidebar .widget a {
  color: #D8D8D8;
}
.sidebar .tagcloud a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px !important;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 1px;
  padding: 5px;
  display: inline-block;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
}
.sidebar .tagcloud a:hover {
  background-color: #FFFFFF;
  color: #000000;
  display: inline-block;
}
.sidebar #wp-calendar {
  width: 100%;
  background-color: transparent;
  margin-bottom: 0px;
  border: 0;
}
.sidebar #wp-calendar caption {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 3px;
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
}
.sidebar #wp-calendar thead {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  background: transparent;
  border: 0px;
}
.sidebar #wp-calendar thead tr {
  background-color: transparent !important;
  color: #FFFFFF;
  border: 0px;
}
.sidebar #wp-calendar thead th {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-bottom: 5px;
  text-align: center;
  background-color: transparent !important;
  color: #FFFFFF;
  border-right: 0px;
}
.sidebar #wp-calendar tbody {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent;
  border: 0px;
}
.sidebar #wp-calendar tbody tr {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: transparent !important;
  border: 0px;
}
.sidebar #wp-calendar tbody tr a {
  color: #FFFFFF !important;
  cursor: pointer;
}
.sidebar #wp-calendar tbody td {
  text-align: center;
  padding: 8px;
  border: 0px;
  border-radius: 2px;
  background-color: transparent;
  color: #FFFFFF;
  cursor: pointer;
}
.sidebar #wp-calendar tbody td:hover, .sidebar #wp-calendar tbody td:hover, .sidebar #wp-calendar tbody td:hover > a {
  color: #AAAAAA;
}
.sidebar #wp-calendar tbody #today {
  background-color: #FFFFFF !important;
  color: #252525;
}
.sidebar #wp-calendar tbody #today a {
  color: #252525 !important;
  cursor: pointer;
}
.sidebar #wp-calendar tbody #today a:hover {
  color: #FFFFFF !important;
}
.sidebar #wp-calendar tbody #today:hover {
  background-color: transparent !important;
  color: #FFFFFF;
}
.sidebar #wp-calendar tbody #today:hover > a {
  color: #FFFFFF !important;
}
.sidebar #wp-calendar tbody .pad {
  background: none;
}
.sidebar #wp-calendar tfoot {
  background-color: transparent;
  color: #FFFFFF;
  border: 0;
}
.sidebar #wp-calendar tfoot td {
  border: 0px;
}
.sidebar #wp-calendar tfoot td:hover, .sidebar #wp-calendar tfoot td a:hover, .sidebar #wp-calendar tfoot td:hover > a {
  background-color: transparent;
  color: #AAAAAA;
}
.sidebar #wp-calendar tfoot tr {
  background-color: transparent !important;
  color: #FFFFFF;
  border-top: 0;
}
.sidebar #wp-calendar tfoot a {
  color: #FFFFFF;
  cursor: pointer;
}
.sidebar #wp-calendar tfoot #next, .sidebar #wp-calendar tfoot #prev {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .sidebar {
    padding-right: 0.625rem;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sidebar {
    padding-right: 0.9375rem;
  }
}
