/**
* Single Post Styles
*
* @package VideoPlace
* @author Jacob Martella
* @version 1.0
*/
.video-top {
  padding-bottom: 15px;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 15px;
}
.video-top .video {
  padding-left: 0;
}
.video-top .video .flex-video {
  padding-bottom: 56%;
  margin: 0;
}
.video-top .article-details {
  padding-right: 0;
}
.video-top .article-details .article-header {
  background-color: rgba(216, 216, 216, 0.3);
  min-height: 439.594px;
  padding: 10px 15px;
}
.video-top .article-details .article-header .entry-title {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;
  margin: 0 0 5px 0;
}
.video-top .article-details .article-header .post-details {
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 3px;
}
.video-top .article-details .article-header .post-details img {
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.video-top .article-details .article-header .post-details .post-detail {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
  margin-top: -2px;
}
.video-top .article-details .article-header .post-details .post-detail a {
  color: #FFFFFF;
}
.video-top .article-details .article-header .the-tag {
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  padding: 3px 5px;
  margin-right: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
}
.video-top .article-details .article-header .the-tag a {
  color: #FFFFFF;
}
.video-top .article-details .article-header .the-tag:hover {
  background-color: #FFFFFF;
}
.video-top .article-details .article-header .the-tag:hover a {
  color: #000000;
}

.post-more {
  padding-left: 0;
}
.post-more .entry-content {
  background-color: rgba(110, 110, 110, 0.3);
  padding: 10px 15px;
  margin-bottom: 15px;
}
.post-more .entry-content blockquote {
  border-left: 2px solid #FFFFFF;
  padding-bottom: 0.5625rem;
}
.post-more .entry-content blockquote p {
  color: #D8D8D8;
}
.post-more .entry-content cite {
  color: #D8D8D8;
}
.post-more .entry-content tbody, .post-more .entry-content thead {
  border: 0;
}
.post-more .entry-content pre {
  color: #252525;
  border: 0;
}
.post-more .entry-content .flex-video {
  padding-bottom: 56%;
  margin: 0;
}

.related-posts {
  background-color: rgba(110, 110, 110, 0.3);
  padding: 10px 10px;
  margin-bottom: 15px;
}
.related-posts h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  border-bottom: 1px solid #FFFFFF;
  margin-left: 10px;
  margin-bottom: 10px;
}
.related-posts .video-post {
  margin-bottom: 10px;
}
.related-posts .video-post .flex-video {
  padding-bottom: 56%;
  margin: 0 -10px 5px -10px;
}
.related-posts .video-post .post-category {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: uppercase;
}
.related-posts .video-post .title {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: none;
  margin-left: 0;
}
.related-posts .video-post .title a {
  color: #FFFFFF;
}
.related-posts .video-post .post-details {
  padding-bottom: 3px;
}
.related-posts .video-post .post-details img {
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}
.related-posts .video-post .post-details .post-detail {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #FFFFFF;
  text-transform: none;
  margin-top: 10px;
  border-bottom: 0;
}
.related-posts .video-post .button.white {
  font-size: 22px;
  width: 100%;
}

@media screen and (min-width: 0em) and (max-width: 39.9375em) {
  .video-top .video {
    padding-left: 0.625rem;
  }
  .video-top .article-details {
    padding-right: 0.625rem;
  }
  .video-top .article-details .article-header {
    min-height: initial;
    height: auto;
  }

  .post-more {
    padding-left: 0.625rem;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .video-top .video {
    padding-left: 0.9375rem;
  }
  .video-top .article-details {
    padding-right: 0.9375rem;
  }

  .post-more {
    padding-left: 0.9375rem;
  }
}
